body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #278783;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh; /* تأكد أن المحتوى يملأ الشاشة */
}

h1 {
  font-size: 2.5em;
  color: #ffebd0;
  margin-bottom: 30px;
  margin-top: 20px;
  animation: fadeInDown 1s ease-in-out;
  text-decoration: underline solid white 4px;
  font-style: italic;
}


#book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book {
  background: #ffebd0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
  height: fit-content;
  transition: transform 0.3s ease-in-out;
  animation: fadeInUp 1s ease-in-out;
}

.book:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.book img {
  width: 150px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.book img:hover {
  transform: scale(1.05);
}

.book h3 {
  font-size: 1.2em;
  margin: 10px 0;
  height: 48px;
  overflow: hidden;
  font-style: italic;
}

.book p {
  font-size: 0.95em;
  color: #363636;
  line-height: 1.5;
  margin-bottom: 15px;
}

button {
  background: #278783;
  color: #ffebd0;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #1f4e4b;
}



.book-list {
  margin-top: 50px !important;
  margin-bottom: 30px !important;
}

footer {
  background: #278783;
  color: #ffebd0;
  text-align: center;
  padding: 10px 0;  /* تقليل المسافة داخل الفوتر */
  font-size: 0.85em;  /* تقليل الحجم */
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  height: 50px;  /* تقليل ارتفاع الفوتر */
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
}




/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ✅ Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .book {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .book img {
    width: 100%;
    height: auto;
  }
}
